/*connect fonds*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;

}

button {
  cursor: pointer;
}
